<div class="container">
    <div class="add">
        <input type="text" placeholder="add task" [(ngModel)]="newTodo" />
        <button class="btn1" (click)="addTodo()">Add</button>
    </div>

 <ul>
    <li *ngFor="let todo of filteredTodos()" [ngStyle]="{ 'color': todo.completed ? 'green' : 'black' }">
      {{ todo.task }}
      <div class="butn-container">
      <button class="btn2" (click)="completeTodo(todo)">Complete</button>
      <button class="btn2" (click)="postponeTodo(todo)">Postpone</button>
      <button class="btn2" (click)="deleteTodo(todo)">Delete</button>
    </div>
    </li>
  </ul>

  <div>
  <button class="btn1" (click)="cleanCompleted()">Clean Completed</button>
  <button class="btn1" (click)="restorePostponed()">Restore Postponed</button>
</div>
</div>